<div class="container">
  <h1>User Skills and Levels</h1>
    <table border = "1">
      <tr>
      <th>Name</th>
      <th>Skill</th>
      <th>Years</th>
      <th>Formal</th>
      <th>Edit</th>
    </tr>
    <td>
      <% @users.each do |user| %>
        <ol><%= user.name %></ol>
      <% end %>
    </td>
    <td>
      <% @users.each do |user| %>
        <ol><%= user.user_skills[0].skill.name %></ol>
      <% end %>
    </td>
    <td>
      <% @users.each do |user| %>
        <ol><%= user.skills[0].experience %></ol>
      <% end %>
    </td>
    <td>
      <% @users.each do |user| %>
        <ol><%= user.skills[0].formal %>
        <a href="/edit/:id">Edit</a></ol>
      <% end %>
    </td>

</div>

